<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*<link rel="stylesheet/less" type="text/css" href="styles.less" />*@
    <link href="~/Content/Index.css" rel="stylesheet" />
</head>
<body style="overflow:hidden;width:100vw;padding-top:0;">
    @RenderBody()

    <script src="~/Scripts/Plugins/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/Plugins/jquery-ui.js"></script>
    <script src="~/Scripts/Plugins/Knockout.js"></script>
    <script src="~/Scripts/Plugins/less.js"></script>
    <script src="~/Scripts/HomeViewModel.js"></script>
    <script src="~/Scripts/Plugins/moment.js"></script>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
